
body{
    background-color: whitesmoke;
}

nav {
    padding: 1rem;
    display: flex;
    background-color: rgb(32, 32, 32);
}

.hamMenu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.hamMenu span {
    height: 5px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.hamMenu span:nth-child(1) {
    top: 25%;
}

.hamMenu span:nth-child(3) {
    top: 75%;
}

.hamMenu.active span:nth-child(1) {
    top: 50%;
    background-color: black;
    transform: translate(-50%, -50%) rotate(45deg);
}
.hamMenu.active span:nth-child(2) {
    opacity: 0;
}
.hamMenu.active span:nth-child(3) {
    top: 50%;
    background-color: black;
    transform: translate(-50%, -50%) rotate(-45deg);
}

#intro{
    color: black;
    font-size: 24px;
}

.offScreenMenu {
    background-color: rgb(199, 199, 199);
    outline-style: solid;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    position: fixed;
    top: 0;
    right: -320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    transition: .3s ease;
}

.offScreenMenu.active {
    right: 0;
}

#menuLinks {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

#selectedMenuLink {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 10vmin;
    padding-top: 10vmin;
}

.subContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#paraBox {
    outline-style: solid;
    outline-width: .25vmin;
    border-radius: 1vmin;
    padding: 1vmin;
    text-align: center;
}

.mainIntro{
    color: black;
    text-align: center;
}

.aboutMe{
    color: black;
    text-align: center;
    width: 50%;
    padding-left: 25%;
    font-size: 24;
}

.cursiveText {
    font-family: "Petit Formal Script", cursive;
    font-weight: 400;
    font-style: oblique;
}

#introPic{
    width: 10%;
    height: 10%;
    border-width: 1vmin;
    border-radius: 2vmin;
    border-style: double;
    border-color: rgb(0, 0, 0);
}

.picBorder {
    outline-style: solid;
    outline-width: .25vmin;
    border-radius: 1vmin;
    width: 30vmin;
}

.introBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

#menu{
    padding: .25%;
    width: 2%;
    height: 2%;
    border: solid black;
    border-radius: 10%;
    border-width: 5px;
}

#sticky{
    background-color: rgb(177, 177, 151);
    margin: 0px;
    padding: 10px;
    position: sticky;
    top: 0px;
}